
.container{
    margin-bottom: 100px;
}
.orange-bg{

    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item{

    padding: 20px 40px;
}

.price
{
    color: #ff136f;
}
.buy-now
{
    background-color: #ff136f;
    cursor:pointer;
    border-radius: 5px;
    padding: 9px 22px;
    color: #fff;
    border: none;
    
}
.cat1{
    background-color: rgb(228, 180, 92);
}
.cat2{
    background-color: rgb(209, 89, 89);
}
.cat3{

    background-color: rgb(105, 105, 189);
}

.cat1,.cat2,.cat3{ padding: 10px 20px;
color: #fff;
 border-radius: 10px; }
 
 .categories img {

    width: 100px;
 }
.card-footer
{text-align: center;
background-color: white;
border-top: none;}
.card
{border: none;
box-shadow: 5px 5px 10px lightgray;}

#subscribe{
    height: 300px;
}
footer{text-align: center;}